html{
	height: 100%;
}

body{
	height:100%;
}

.wrap{
	background: #D3D3D3;
	min-height: 100%;
}

.inner{
	height: 100%;
	width: 1000px;
	margin: 0 auto;
	border-left: 1px black solid;
	border-right: 1px black solid;
}


header{
	background:white;

	box-shadow:0 1px 1px rgba(255,0,0,0.5);

	height:50px;
	position:fixed;
	top:0;

	width:100%;
}


/*===スマホ対応====================*/
img{
	max-width: 100%;
}
/*================================*/


main{
	display: flex;
	-webkit-flex-wrap:wrap;
	-webkit-justify-content:space-around;
	padding-top:50px;
}

h3{
	background:#99ff99;
	height:100px;
	line-height: 100px;
	text-align: center;
	width:100%;
}

div[class^="box"]{
	margin:10px 0;
	width:430px;
	height: 420px;
}

/*メニューボックス*/
.box_menu{
	background:#A7BCBB;
	border:5px solid #ECDF2B;
	border-radius:10px;
}
h4{
	-webkit-align-items:center;
	display: flex;
	-webkit-flex-wrap:nowrap;
	font-size:20px;
	height:30px;
	-webkit-justify-content:center;
	width:100%;
}
ul{
	display: flex;
	-webkit-flex-wrap:wrap;
	-webkit-justify-content:space-around;
}
li{
	border-radius:10px;
	height:170px;

	margin:10px 0;

	overflow: hidden;

	width:200px;
}

/*お知らせボックス*/
.box_info{
	background:#B2FFD8;

	border:2px solid blue;
	border-radius:10px;
}

/*twitterボックス*/
.box_twitter{
	border: 1px solid orange;
	box-sizing: border-box;
	height:400px;
	overflow: scroll;

}


/*===タブバー====================*/
main{
	padding-bottom: 60px;
}
.tab_bar{
	background: gray;
	bottom: 0;

	height: 60px;

	position:fixed;
	width: 100%;
	z-index: 10;

}

/*================================*/


/* sinihisaスマホ */
@media all and (max-width: 480px){
	/* 画面サイズが480px以下 */
/*
	body{
		background:red;
	}
*/
}

@media screen and (min-width: 481px){
	/* 画面サイズが481px以上 */
/*
	body{
		background:yellow;
	}
*/

	main{
		padding-bottom: 0;
	}
	.tab_bar{
		display: none;
	}
}
