html{
	height: 100%;
}

body{
	height:100%;
}

.wrap{
	min-height: 100%;
	background: #D3D3D3;
}

img{
	max-width: 100%;
}

main{
	padding-top:50px;
	height:auto;
	display:-webkit-flex;
	-webkit-flex-direction:row;
	-webkit-flex-wrap:wrap;
	-webkit-justify-content:space-around;
}

h3{
	width:100%;
	height:100px;
	background:#99ff99;
	display:-webkit-flex;
	-webkit-flex-direction:row;
	-webkit-flex-wrap:nowrap;
	-webkit-justify-content:center;
	-webkit-align-items:center;
}

div[class^="box"]{
	margin:10px 0;
	width:430px;
}

/*メニューボックス*/
.box_menu{
	background:#A7BCBB;
	border:5px solid #ECDF2B;
	border-radius:10px;
}
h4{
	width:100%;
	height:30px;
	font-size:20px;
	display:-webkit-flex;
	-webkit-flex-direction:row;
	-webkit-flex-wrap:nowrap;
	-webkit-justify-content:center;
	-webkit-align-items:center;
}
ul{
	display:-webkit-flex;
	-webkit-flex-direction:row;
	-webkit-flex-wrap:wrap;
	-webkit-justify-content:space-around;
}
li{
	overflow: hidden;
	width:200px;
	height:170px;
	margin:10px 0;
	border-radius:10px;
}

/*お知らせボックス*/
.box_info{
	border:2px solid blue;
	background:#B2FFD8;
	border-radius:10px;
}

/*twitterボックス*/
.box_twitter{
	height:400px;
	overflow: scroll;
	border:1px solid orange;
}


/* sinihisaスマホ */
@media all and (min-width: 480px){
	body{
		background:red;
	}
}
@media screen and (max-width:960px){
	body{
		background:yellow;
	}
}
