/*----------------------------------------
全体
----------------------------------------*/
body{
	height:100%;
}
.wrap{
	border: 10px;
	background: #D3D3D3;
	min-height: 100%;
}
/*----------------------------------------
中身
----------------------------------------*/
.inner{
	margin:0 auto;
	width:830px;
}
/* 見出し */
h1{
	height:auto;
	width:auto;
}

h2{
	background:#99ff99;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
	height:50px;
	width:100%;
}

h3{
	display: flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:center;
	align-items:center;
	border:1px solid black;
	border-radius:10px 10px 0 0;
	color:red;
	font-size:20px;
}

h4{
	display: flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:center;
	align-items:center;
	color:red;
	font-weight:700;
	font-size:30px;
}
/* 本文 */
main{
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-around;
	height:auto;
	padding-top:65px;
}
/*
div[class^="box"]{
	margin:10px 0;
	width:430px;
}
*/
/*----------------------------------------
流れる警報
----------------------------------------*/
.Flowing-alert{
	width:100%;
	height:70px;
	background:white;
	border:1px solid;
	border-radius:10px;
}
/*----------------------------------------
メニューＢＯＸ
----------------------------------------*/
.box_menu{
	width:100%;
	background:#A7BCBB;
	border:5px solid #ECDF2B;
	border-radius:10px;
	padding:10px;
}
.box_menu ul{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;
}
.box_menu li{
	display:flex;
	justify-content:space-between;
	text-align:center;
	overflow: hidden;
	border-radius:10px;
	font-size:20px;
	height:200px;
	margin:10px 0;
	width:200px;
}
/* 画像設定 */
.box_menu img{
	max-width: 80%;
	padding:3px;
}
/*----------------------------------------
各ボタン設定
----------------------------------------*/
/* 津波避難ボタン */
.Tunami{
	border:1px solid;
	display:block;
}
.Tunami hover{
	cursor:pointer;
}
.Tunami a{
	display:block;
	text-decoration:none;
}

/* 医療・避難道具ボタン */
.Item{
	border:1px solid;
	display:block;
}
.Item hover{
	cursor:pointer;
}
.Item a{
	display:block;
	text-decoration:none;
}
/* 帰宅困難者避難所ボタン */
.Hinan{
	border:1px solid;
	display:block;
}
.Hinan hover{
	cursor:pointer;
}
.Hinan a{
	display:block;
	text-decoration:none;
}

/* 地域防災拠点ボタン */
.Tbousai{
	border:1px solid;
	display:block;
}
.Tbousai hover{
	cursor:pointer;
}
.Tbousai a{
	display:block;
	text-decoration:none;
}
/*----------------------------------------
お知らせＢＯＸ
----------------------------------------*/
.box_info{
	width:100%;
	background:#B2FFD8;
	border:2px solid blue;
	padding:10px 0 10px 0;
	border-radius:10px;
}
/*----------------------------------------
twitterＢＯＸ
----------------------------------------*/
.box_twitter{
	width:100%;
	height:400px;
	border: 1px solid orange;
	box-sizing: border-box;
	padding:10px 0 10px 0;
	overflow: scroll;
}
/*----------------------------------------
フッター
----------------------------------------*/
/*
footer{
	border-top:1px solid black;
	max-height:100px;
	min-height:50px;
	width:100%;
}
/*----------------------------------------
sinihisaスマホ対応
----------------------------------------*/
@media screen and (max-width:900px) {
	/* 中身 */
	.inner{
		width:100%;
	}
	/* 見出し */
	h4{
		font-weight:300;
	}
	/* メニューＢＯＸ */
	.box_menu{
		width:100%;
	}
}
/*----------------------------------------
sinihisaスマホ対応2
----------------------------------------*/
@media screen and (max-width:500px) {
	/* 中身 */
	.inner{
		width:100%;
	}
	/* 見出し */
	h4{
		font-weight:300;
	}
	/* メニューＢＯＸ */
	.box_menu{
		width:100%;
	}
}
