body{
	height:100%;
}
.wrap{
	border: 10px;
	background: #D3D3D3;
	min-height: 90%;
}
header{
	background:white;
	box-shadow:0 10px 50px rgba(231,151,62,0.9);
	height:50px;
	position:fixed;
	top:0;
	width:100%;
}
h1{
	height:auto;
	width:auto;
}
footer{
	border-top:1px solid black;
	max-height:100px;
	min-height:50px;
	width:100%;
}

img{
	max-width: 100%;
}
main{
	display:-webkit-flex;
	-webkit-flex-direction:row;
	-webkit-flex-wrap:wrap;
	-webkit-justify-content:space-around;
	height:auto;
	padding-top:50px;
}

h2{
	background:#99ff99;
	display:-webkit-flex;
	-webkit-flex-direction:row;
	-webkit-flex-wrap:nowrap;
	-webkit-justify-content:center;
	-webkit-align-items:center;
	height:100px;
	width:100%;
}

div[class^="box"]{
	margin:10px 0;
	width:430px;
}
/*----------------------------------------
メニューボックス
----------------------------------------*/
.inner{
	margin:0 auto;
}
.box_menu{
	background:#A7BCBB;
	border:5px solid #ECDF2B;
	border-radius:10px;
}
h3{
	display:-webkit-flex;
	-webkit-flex-direction:row;
	-webkit-flex-wrap:nowrap;
	-webkit-justify-content:center;
	-webkit-align-items:center;
	font-size:20px;
	height:30px;
	width:100%;
}
ul{
	display:-webkit-flex;
	-webkit-flex-direction:row;
	-webkit-flex-wrap:wrap;
	-webkit-justify-content:space-around;
}
li{
	border-radius:10px;
	height:170px;
	margin:10px 0;
	overflow: hidden;
	width:200px;
}
/*----------------------------------------
お知らせボックス
----------------------------------------*/
.box_info{
	background:#B2FFD8;
	border:2px solid blue;
	border-radius:10px;
}
/*----------------------------------------
twitterボックス
----------------------------------------*/
.box_twitter{
	border: 1px solid orange;
	box-sizing: border-box;
	height:400px;
	overflow: scroll;
}
/*----------------------------------------
sinihisaスマホ
----------------------------------------*/
@media screen and (min-width: 480px){
	body{
		background:red;
	}
}
@media screen and (max-width:1080px){
	body{
		background:yellow;
	}
	.wrap{
		width:300;
	}
}
