main{
  display:flex;
  flex-direction: column;
  align-items: center;
}
body{
  background:#99FFAF;
  height:auto;
}
.base_list{
  margin-top:12vh;
  background:royalblue;
  min-width:640px;
  width:65%;
  height:auto;
}
.base_list h2{
  width:calc(100%-1vw);
  padding-left: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background:blue;
  font-size:200%;
  color:white;
}
.base_list h3{
  margin-top:10px;
  color:white;
}
.base_list ul{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.base_list li{
  background:white;
  width:95%;
  height:15vh;
  margin-top: 1vh;
  margin-bottom:1vh;
}