main{
  display:flex;
  flex-direction: column;
  align-items: center;
}
body{
  background:#99FFAF url("../img/022Yamasha17103_TP_V.jpg");
  background-attachment: fixed;
  height:auto;
}
h2{
  color:red;
}

/*区リンク*/
.base_list .ward_link ul{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.base_list .ward_link li{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:16vh;
  height:5vh;
margin-left:10px;
margin-top: 1vh;
margin-bottom:1vh;
  padding:2px;
  background:white;
  border-radius:7px/7px;
  box-shadow:0px 1px 1px rgba(0,0,0,0.5);
}
.ward_link li:hover{
  background:#B9FFFF;
}
.base_list .ward_link a{
  display:flex;
}

/*施設情報*/
.base_list{
  margin-top:12vh;
  background:rgba(255,255,255,0.7);
  min-width:580px;
  width:65%;
  height:auto;
  border-radius:20px/20px;
}
.base_list h2{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
  width:calc(100%-1vw);
  margin: 1vh;
  font-size:200%;
  color:black;
  border-bottom:2px solid royalblue;
}
.base_list h3{
  margin-top:10px;
  margin-left:10px;
  color:white;
}
.base_list h3 a{
  background:yellow;
  border-radius:5px/5px;
  margin-left:10px;
    text-decoration: none;
  box-shadow:0px 1px 1px rgba(0,0,0,0.5);
}
.ward_box{
  background:royalblue;
  border:1px solid white;
  margin: 1%;
  margin-bottom:4%;
  border-radius:7px/7px;
}
.base_list .ward_box ul{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.base_list .ward_box li{
  background:white;
  width:95%;
  height:15vh;
  margin-top: 1vh;
  margin-bottom:1vh;
  border-radius:10px/10px;
  box-shadow:0px 1px 1px rgba(0,0,0,0.5);
}
.base_list .ward_box li:hover{
  background:#B9FFFF;
}
.base_list .ward_box li a{
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  width:100%;
  height:100%;
}
.base_name{
  font-size:120%;
}
.return{
  width:100%;
  padding-right:20px;
  padding-top:5px;
  padding-bottom:10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.return p{
  width:100px;
  background:green;
  border-radius:5px/5px;
  box-shadow:0px 1px 1px rgba(0,0,0,0.5);
}
.return a{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width:100%;
  height:100%;
  color:white;
  text-decoration: none;
}
@media screen and (orientation:portrait){
  .base_list .ward_link li{
    font-size:150%;
  }
  .base_list h3{
    font-size:175%;
  }
  .base_list h3 a{
    font-size:75%;
      padding:10px;
  }
}
