header{
	position:fixed;
	top:0;
	z-index:10;
	width:100%;
	height:50px;
	background:white;
	box-shadow:0px 1px 1px rgba(0,0,0,0.5);
}
header h1{
	width:auto;
	height:auto;
	margin-top:5px;
	margin-left:5px;
	background:white;
}
header h1 img{
  height:45px;
}
footer{
	width:100%;
	max-height:100px;
	min-height:50px;
	border-top:1px solid black;
}
header #hd{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
header #hd div{
      position:relative;
      display:flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-end;
}
header ul{
    display:none;
}
header #hd div:hover ul{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
}
header li{
    width:400px;
    border-left:1px solid gray;
    border-right:1px solid gray;
    border-top:1px solid gray;
    background: white;
    border-radius: 0;
    margin:0;
}
header li:last-child{
    border-bottom: 1px solid gray;
}
header li a{
  width:100%;
  height:100%;
  display:flex;
  justify-content: center;
}
header li:hover{
  background:#B9FFFF;
}
header p{
  background:url("../img/icon_menu.png");
  background-size: auto 80%;
  background-repeat: no-repeat;
  background-position: center;
  border-left:2px solid gray;
}

@media screen and (orientation:portrait){
  header{
    height:50px;
  }
  header h1{
    height:90px;
  }
  header p{
    width:100px;
    height:100px;
  }
  header li{
    height:90px;
  }
}

@media screen and (orientation:landscape){
  header h1{
    height:40px;
  }
  header p{
    width:75px;
    height:50px;
  }
  header li{
    height:40px;
  }
}
